<h2>ESCRIBE / PEGA ENLACE•</h2>
<small>(Si no eres usuario, sólo será visible cuando lo apruebe un usuario autorizado)</small> <p>
<form name="form1">
<select name="tema" onchange="javascript:document.getElementById('comment').value=document.form1.tema.options[document.form1.tema.selectedIndex].value;">
 <option value="">Texto</option>
 <option value="">Hipervinculo</option>
 <option value="img-" >Enlace a Imágen</option>
 <option value="video-" >Enlace a Video</option>
 <option value="yt-">Enlace a Youtube</option>
 <option value="audio-">Enlace a Audio</option>
 <option value="iframe-">Enlace Embebido</option>
</select>
</form>
Selecciona el tipo de comentario
<form method="post" action="/quizes/<%=quizid%>/comments/">
	<input type="text" id="comment" name="comment[texto]" placeholder="Respuesta - Cat"/></p>
<p>Escribe o pega enlace (selecciona tipo)</p>
	<button type="submit">Enviar</button>
</form>
</p>
<a href="javascript:history.back(1);" style= "color:red;"><button type="button">Cancelar</button></a>
<br>
<p> <small>Puedes poner un enlace, audio- img-,video-(para videos de youtube yt-) o iframe- </small></p>
