A침adir comentario:
(Si no eres usuario: Tu comentario s칩lo ser치 visible cuando lo apruebe un usuario autorizado) <p>
Tipo:<form name="form1">
<select name="tema" onchange="javascript:document.getElementById('comment').value=document.form1.tema.options[document.form1.tema.selectedIndex].value;">
 <option value="">Texto</option>
 <option value="">Hipervinculo</option>
 <option value="img-" >Enlace a Im치gen</option>
 <option value="video-" >Enlace a Video</option>
 <option value="yt-">Enlace a Youtube</option>
 <option value="iframe-">Enlace Embebido</option>
</select>
</form>
<form name="envioComment" method="post" action="/quizes/<%=quizid%>/comments/">
	<input type="text" id="comment" name="comment[texto]" placeholder="Respuesta - Cat"/></p>
	<button type="submit">Enviar</button>
</form>
<a href="javascript:history.back(1);"><button type="button">Cancelar</button></a>
<br>
<p> Puedes poner un enlace, si quieres que se interprete como video, audio o imagen pon delante video-, audio- o img- (para videos de youtube escribir yt-)</p>
