<h3> Bienvenida a <%=title%></h3>
<div class="thumbnail"><a href="/quizes"><img
    src="https://www.dropbox.com/s/6ao2hfei012n1am/quizIcon.jpg?dl=1" class="img-responsive img-circle" alt="Guarda la pagina a tu pantalla de inicio"/></a>
 </div>
<p>El portal donde podrá crear sus juegos de preguntas! 
<small>
<p class="bg-primary">Puedes usar el dado y el tablero desde el menú desplegable.</p>
</small>
</p>
<br>
<button><a href='/quizes/284'>COMENZAR</a></button>
<br>
<div class="thumbnail">
<img
    src="https://www.dropbox.com/s/r77ovl6uogyb607/QuizGuia.jpg?dl=1" class="img-responsive" alt="Guia"/>
    <div class="caption">
          <p>1.Filtra por la categoría<br>
               2.Saca una pregunta al azar<br>
               3.Obtén una pista de como está escrito con el ahorcado<br>
          </p>
     </div>
 </div>
<p><small>Podéis dejar propuestas de respuestas a las preguntas que están "sin respuesta" ni categoria (pone 'null')como comentario(pendiente de publicar hasta que lo autorice el administrador)</small></p>
<p><small>Podéis consultar directamente las preguntas comentadas desde estadísticas pinchando en el número de preguntas con comentarios.</small></p>
<h4> Próximamente más novedades...</h4>

