<h3> Bienvenida a <%=title%></h3>
<p>El portal donde podrá crear sus juegos de preguntas!</p>
<br>
<button><a href='/quizes'>COMENZAR</a></button>
<br>
<p>Podéis dejar propuestas de respuestas a las preguntas que están "sin respuesta" ni categoria (pone 'null')como comentario(pendiente de publicar hasta que lo autorice el administrador)</p>
<p>Podéis consultar directamente las preguntas comentadas desde estadísticas pinchando en el número de preguntas con comentarios.</p>
<h4> Próximamente más novedades...</h4>

