<!DOCTYPE html>
<html>
  <head>
<link rel="apple-touch-icon-precomposed" href="/images/Juegos-Reunidos-1.jpg"/>
	<meta charset='utf-8'>
    <title>JNR</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">

<script  src="https://code.jquery.com/jquery-1.12.4.min.js"  integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/interact.js/1.2.6/interact.min.js" ></script>
<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  <link rel='stylesheet'
	 type='text/css'
	 media='only screen and (min-width:530px) and (min-device-width: 481px)'
	 href='/stylesheets/wide.css' />	
  <link rel='stylesheet'
	 type='text/css'
	 media='only screen and (max-width: 480px)'
	 href='/stylesheets/smartphone.css' />	
 
  </head>
  
  <body>
	<header>
	<nav class="navbar navbar-inverse">
 	 <div class="container-fluid">
    		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" href="#">JNR</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			<ul class='nav navbar-nav' id='n1' role='navegation'>
				<li class="active"><a href='/'>Inicio</a></li>
				<li><a href='/quizes'>CARTAS</a></li>
				<li><a href='/quizes?search=TABLERO'>TABLEROS</a></span></li>
			<!--	<li><a href='/quizes?search=%C2%BFQu%C3%A9+el%C3%ADcula+es%3F'>Fotogramas</a></span></li>
<li><a href='/quizes?search=%C2%BFGrupo'>Musical</a></span></li>
<li><a href='/quizes?search=%C2%BFQui%C3%A9n+es%3F'>¿Quién es?</a></span></li>
<li><a href='https://joselonode.herokuapp.com/quizes/266'>Anota</a></span></li>-->
				<li><a href='/author'>Más...</a></span></li>
				<li><a href='/statistics'><small>Estadisticas</small></a></li>
			</ul>
			<ul class='nav navbar-nav navbar-right' id='h1'>
			<li>
			<%if(!session.user){%>
			  <a href="/login"><span class="right glyphicon glyphicon-log-in"> Login</span></a>
			<%}else{%>
			  <a href="/logout"><span class="right glyphicon glyphicon-log-out"> <%=session.user.username%> Logout</span></a>
			<%}%>
			</li>
			</ul>
			
			</div>		
	 </div>
	</nav>
	</header>		
		<section class='main container-fluid text-center' id='s1'>
			<% if(errors.length){ %>
			<span id='ErrorMsgs'>
			 Corregir errores:<br/>
			 <% for (var i in errors) { %>
				<span><%= errors[i].message %></span><br/>
			<% } %>
			</span>
			<% } %>
			<div class="well">
 
 <%- body %></div>
</section>
<section class='main container-fluid text-center' id='s2'>
<div class="container-fluid thumbnail">
<div ondrop="drop(event)" ondragover="allowDrop(event)" style="background-color:blue">
<img id="dado" draggable="true" ondragstart="tira()" class="img-responsive dado draggable" alt="dado" src="https://www.dropbox.com/s/pu8mfr0og2mxz6n/dado.gif?raw=1" onclick="para()" ondblclick="tira()" style="width:20%;">

<span><img draggable="true" ondragstart="drag(event)" class="ficha draggable" alt="ficha azul" style="color:blue;width:10%;" src="https://www.dropbox.com/s/o6j5hr8vis3rksz/newgarden-trivial.png?raw=1"></img></span>
 
 <span class="glyphicon glyphicon-tower ficha" style="color:blue"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:brown"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:pink"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:yellow"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:green"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:orange"></span></div>
 <br>
 <div ondrop="drop(event)" ondragover="allowDrop(event)"><img class="img-responsive dropzone"  id="Tablero" src="https://www.dropbox.com/s/mzxagusl4ccs8dv/TableroQuiz.jpg?dl=1" alt="TableroDropable"></div>
</div>
		</section>
		
		<footer class='main container-fluid text-center' id='f1'>
                        <%if(session.user){%>
                        <a href='https://github.com/Joselon/quiz' target="_blank"> Página Github del proyecto</a>
                        <%}%>
 <span class="glyphicon glyphicon-knight"></span>
 
		</footer>
	<script>
	
var dado = document.getElementById ("dado");
var tiradas=["https://www.dropbox.com/s/92om1giidyk3lyv/01.png?raw=1", "https://www.dropbox.com/s/ciafr1casuiv18y/02.png?raw=1","https://www.dropbox.com/s/wc39zmg7d4t5cmo/03.png?raw=1","https://www.dropbox.com/s/ewvkou70yvpnh8r/04.png?raw=1","https://www.dropbox.com/s/4n2ge9zrn4i6y12/05.png?raw=1","https://www.dropbox.com/s/cbaq0blxfarqzie/06.png?raw=1"];
var alea=Math.floor(6*Math.random());
 function para(){
alea=Math.floor(6*Math.random());
 dado.src=tiradas[alea];
}

function tira(){
 dado.src="https://www.dropbox.com/s/pu8mfr0og2mxz6n/dado.gif?raw=1";
}
/* $(function () {
        $(".ficha").draggable({            
            stack: ".ficha",
	   // helper: "clone",
	  //  appendTo:"#Tablero"
        });
    });
     $(function () {
        $(".dado").draggable({            
            stack: ".dado",
	    start:tira,
	    stop:para
        });
    });
    
   $(function () {
    $("#Tablero").droppable({
      stack: ".ficha",
     // drop: function(e, ui){  
      //  $(ui.draggable).clone().appendTo($(this));  
      // }  
     });
    }); */
    
    function allowDrop(ev) {
    ev.preventDefault();
}

function drag(ev) {
    ev.dataTransfer.setData("text", ev.target.id);
}

function drop(ev) {
    ev.preventDefault();
    var data = ev.dataTransfer.getData("text");
    ev.target.appendChild(document.getElementById(data));
}
// target elements with the "draggable" class
interact('.draggable')  
  .draggable({
    // enable inertial throwing
    inertia: true,
    // keep the element within the area of it's parent
    restrict: {
      restriction: "parent",
      endOnly: true,
      elementRect: { top: 0, left: 0, bottom: 1, right: 1 }
    },
    // enable autoScroll
    autoScroll: true,
    // call this function on every dragmove event
    onmove: dragMoveListener,
  });

  function dragMoveListener (event) {
    var target = event.target,
        // keep the dragged position in the data-x/data-y attributes
        x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx,
        y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

    // translate the element
    target.style.webkitTransform =
    target.style.transform =
      'translate(' + x + 'px, ' + y + 'px)';

    // update the posiion attributes
    target.setAttribute('data-x', x);
    target.setAttribute('data-y', y);
  }
  // enable draggables to be dropped into this
interact('.dropzone').dropzone({  
  // Require a 50% element overlap for a drop to be possible
  overlap: 0.50,

  // listen for drop related events:

  ondropactivate: function (event) {
    // add active dropzone feedback
    event.target.classList.add('drop-active');
  },
  ondragenter: function (event) {
    var draggableElement = event.relatedTarget,
        dropzoneElement = event.target;

    // feedback the possibility of a drop
    dropzoneElement.classList.add('drop-target');
  },
  ondragleave: function (event) {
    // remove the drop feedback style
    event.target.classList.remove('drop-target');
  },
  ondrop: function (event) {
    event.relatedTarget.textContent = 'Dropped';
  },
  ondropdeactivate: function (event) {
    // remove active dropzone feedback
    event.target.classList.remove('drop-active');
    event.target.classList.remove('drop-target');
  }
});
</script>	
  </body>
</html>
