<!DOCTYPE html>
<html>
  <head>
<link rel="apple-touch-icon-precomposed" href="https://www.dropbox.com/s/6ao2hfei012n1am/quizIcon.jpg?dl=1"/>
	<meta charset='utf-8'>
    <title>JNR</title>
     <meta name="viewport" content="width=device-width, initial-scale=1">
 

<script>
var dado = document.getElementById ("dado");
var tiradas=["https://www.dropbox.com/s/92om1giidyk3lyv/01.png?dl=1", "https://www.dropbox.com/s/ciafr1casuiv18y/02.png?dl=1","https://www.dropbox.com/s/wc39zmg7d4t5cmo/03.png?dl=1","https://www.dropbox.com/s/ewvkou70yvpnh8r/04.png?dl=1","https://www.dropbox.com/s/4n2ge9zrn4i6y12/05.png?dl=1","https://www.dropbox.com/s/cbaq0blxfarqzie/06.png?dl=1"];
var alea=Math.floor(6*Math.random());
 function para(){
alea=Math.floor(6*Math.random());
 dado.src=tiradas[alea];
}

function tira(){
 dado.src="https://www.dropbox.com/s/pu8mfr0og2mxz6n/dado.gif?dl=1";
}
/* $(function () {
        $(".ficha").draggable({            
            stack: ".ficha",
	   // helper: "clone",
	  //  appendTo:"#Tablero"
        });
    });
     $(function () {
        $(".dado").draggable({            
            stack: ".dado",
	    start:tira,
	    stop:para
        });
    });
    
   $(function () {
    $("#Tablero").droppable({
      stack: ".ficha",
     // drop: function(e, ui){  
      //  $(ui.draggable).clone().appendTo($(this));  
      // }  
     });
    }); */
</script>
<link rel='stylesheet' type='text/css' href='/stylesheets/style.css' />
  <link rel='stylesheet'
	 type='text/css'
	 media='only screen and (min-width:530px) and (min-device-width: 481px)'
	 href='/stylesheets/wide.css' />	
  <link rel='stylesheet'
	 type='text/css'
	 media='only screen and (max-width: 480px)'
	 href='/stylesheets/smartphone.css' />	
 
  </head>
  
  <body>
	
	<nav class="navbar navbar-inverse">
 	 <div class="container-fluid">
    		<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				</button>
			<a class="navbar-brand" href="#">JNR</a>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
			<ul class='main nav navbar-nav' id='n1' role='navegation'>
				<li class="active"><a href='/'>Inicio</a></li>
				<li><a href='/quizes'>CARTAS</a></li>
<li><a href='/quizes?search=TABLERO'>TABLEROS</a></span></li>
				<li><a href='/quizes?search=%C2%BFQu%C3%A9+el%C3%ADcula+es%3F'>Fotogramas</a></span></li>
<li><a href='/quizes?search=%C2%BFGrupo'>Musical</a></span></li>
<li><a href='/quizes?search=%C2%BFQui%C3%A9n+es%3F'>¿Quién es?</a></span></li>
<li><a href='https://joselonode.herokuapp.com/quizes/266'>Anota</a></span></li>
				<li><a href='/author'>Más...</a></span></li>
				<li><a href='/statistics'><small>Estadisticas</small></a></li>
			</ul>
			<ul class='main nav navbar-nav navbar-right' id='h1'>
			<li>
			<%if(!session.user){%>
			  <a href="/login"><span class="right glyphicon glyphicon-log-in"> Login</span></a>
			<%}else{%>
			  <a href="/logout"><span class="right glyphicon glyphicon-log-out"> <%=session.user.username%> Logout</span></a>
			<%}%>
			</li>
			</ul>
			
			</div>		
	 </div>
	</nav>
			
		<section class='main container-fluid text-center' id='s1'>
			<% if(errors.length){ %>
			<span id='ErrorMsgs'>
			 Corregir errores:<br/>
			 <% for (var i in errors) { %>
				<span><%= errors[i].message %></span><br/>
			<% } %>
			</span>
			<% } %>
			<div class="well">
 
 <%- body %></div>
</section>
<section class='main container-fluid text-center' id='Juego'>
<div class="container-fluid thumbnail" style="background-color:white">
<img id="dado" class="img-responsive dado" alt="dado" src="https://www.dropbox.com/s/pu8mfr0og2mxz6n/dado.gif?dl=1" onclick="para()" ondblclick="tira()" style="width:20%;">
<span><img class="ficha" alt="ficha azul" style="color:blue;width:10%;" src="https://www.dropbox.com/s/o6j5hr8vis3rksz/newgarden-trivial.png?dl=1"></img></span>
 
 <span class="glyphicon glyphicon-tower ficha" style="color:blue"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:brown"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:pink"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:yellow"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:green"></span>
 <span class="glyphicon glyphicon-tower ficha" style="color:orange"></span>
 <br>
 <img class="img-responsive" id="Tablero" src="https://www.dropbox.com/s/mzxagusl4ccs8dv/TableroQuiz.jpg?dl=1" alt="TableroDropable">
</div>
		</section>
		
		<footer class='main container-fluid text-center' id='f1'>
                        <%if(session.user){%>
                        <a href='https://github.com/Joselon/quiz' target="_blank"> Página Github del proyecto</a>
                        <%}%>
 <span class="glyphicon glyphicon-knight"></span>
 
		</footer>
		
  </body>
</html>
